beautifulsoup4==4.9.1
CacheControl==0.12.6
certifi==2020.4.5.1
chardet==3.0.4
idna==2.9
Js2Py==0.70
lockfile==0.12.2
msgpack==1.0.0
Pint==0.11
pptree==3.1
pyjsparser==2.7.1
pyparsing==2.4.7
pytz==2020.1
requests==2.23.0
requests-toolbelt==0.9.1
six==1.14.0
soupsieve==2.0.1
structlog==20.1.0
tabulate==0.8.7
tzlocal==2.1
urllib3==1.25.9
xdg==4.0.1
